In [5]:
import pandas as pd 
motor = pd.read_csv ("C:/Users/ayofa/mtcars.csv")

In [8]:
motor.head(4)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1

In [9]:
motor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [10]:
motor.dtypes

model     object
mpg      float64
cyl        int64
disp     float64
hp         int64
drat     float64
wt       float64
qsec     float64
vs         int64
am         int64
gear       int64
carb       int64
dtype: object

In [14]:
motor.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [16]:
sample_motor = motor.sample(n=10)

In [27]:
sample_motor

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4

In [28]:
sample_motor.model

19         Toyota Corolla
31             Volvo 142E
8                Merc 230
28         Ford Pantera L
15    Lincoln Continental
18            Honda Civic
0               Mazda RX4
5                 Valiant
27           Lotus Europa
23             Camaro Z28
Name: model, dtype: object

In [33]:
sample_motor['model'].value_counts()

Ford Pantera L         1
Merc 230               1
Volvo 142E             1
Valiant                1
Toyota Corolla         1
Honda Civic            1
Lotus Europa           1
Mazda RX4              1
Lincoln Continental    1
Camaro Z28             1
Name: model, dtype: int64

In [35]:
sample_motor['hp'].value_counts()

95     1
110    1
109    1
105    1
264    1
215    1
113    1
245    1
52     1
65     1
Name: hp, dtype: int64

In [36]:
sample_motor['cyl'].value_counts()

4    5
8    3
6    2
Name: cyl, dtype: int64

In [37]:
sample_motor['vs'].value_counts()

1    6
0    4
Name: vs, dtype: int64

In [38]:
sample_motor['am'].value_counts()

1    6
0    4
Name: am, dtype: int64

In [39]:
sample_motor['gear'].value_counts()

4    5
3    3
5    2
Name: gear, dtype: int64

In [40]:
sample_motor['carb'].value_counts()

4    4
2    4
1    2
Name: carb, dtype: int64

In [64]:
sample_motor.mpg.describe()

count    10.000000
mean     21.750000
std       7.803169
min      10.400000
25%      16.375000
50%      21.200000
75%      28.500000
max      33.900000
Name: mpg, dtype: float64